<div id="hospitaisDestaque">
    <div id="top">
        <h1>Hospitais em destaque</h1>

        <a routerLink="/cadastro">
            <img src="../../assets/images/plus.png" alt="Cadastrar novo hospital" title="Cadastrar novo hospital">
        </a>
    </div>

    <div id="line"></div>

    <p id="intro">
        Contando com os melhores hospitais do Rio de Janeiro, o plano Ouro
        dispõe para sua empresa as redes mais referenciadas com diversos
        benefícios para que você tenha um atendimento totalmente personalizado.
    </p>

    <div id="content">

        <article *ngFor="let hospital of date">
            <div class="alignClose">
                <span>&nbsp;</span>

                <button class="close"><img src="../../assets/images/close.png" alt="" title="Remover" (click)="confirmDelete(hospital.id)"></button>
            </div>

            <img class="hospitalImg" src="{{ hospital.image }}" alt=""  />

            <a class="info" (click)="openInfo(hospital)">

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <h3>{{ hospital.name }}</h3>
                    <img src="../../assets/images/seta-para-baixo.png" alt=""/>
                </div>

                <br />
            </a>

            <div
                class="info2"
                [ngClass]="{ display: verificaDisplay(hospital)}"
            >
                <span class="detail">
                    {{ hospital.detail }}
                </span>
                <hr />

                <div class="contact">
                    <p>
                        <img src="../../assets/images/endereço.png" alt="" />
                        <b>Endereço:</b>
                        <span>{{ hospital.address }}</span>
                    </p>

                    <p>
                        <img
                            src="../../assets/images/iconeTelYellow.png"
                            alt=""
                        />
                        <b>Telefone:</b>
                        <span>{{ hospital.phone }}</span>
                    </p>
                </div>
            </div>
        </article>
        <br />
    </div>

    <div id="info3" *ngIf="hospital1 != null">
        <div style="width: 50%;">
            {{hospital1.detail}}
        </div>

        <div class="lineV"></div>

        <div>
            <p>
                <img src="../../assets/images/endereço.png" alt="" />
                <b>Endereço:</b>
                <span>{{ hospital1.address }}</span>
            </p>

            <p>
                <img
                    src="../../assets/images/iconeTelYellow.png"
                    alt=""
                />
                <b>Telefone:</b>
                <span>{{ hospital1.phone }}</span>
            </p>
        </div>

    </div>
</div>

<div id="deleteHospital" [ngClass]="{deleteClose: deleteBool}">
    <div id="img"></div>

    Tem certeza que deseja<br>remover esse hospital?

    <div style="display: flex; width: 100%; justify-content: center;">
        <button id="yes" (click)="deleteFunc(true)">SIM</button>
        <button id="no" (click)="deleteFunc(false)">NÃO</button>
    </div>
</div>

<div id="deleteSuccess" *ngIf="closeSuccess">
    <div class="success">
        <img src="../../assets/images/success.png" alt="">
        Hospital removido com sucesso.
    </div>

    <div class="close" title="Fechar" (click)="close()" >
        <img src="../../assets/images/close.png" alt="">
    </div>

</div>


